
networks:
  internal_network:
    driver: bridge

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - internal_network
    volumes:
      - media_volume:/app/media
      - static_volume:/app/static
      - ./logs:/app/logs
    env_file:
      - .env
    depends_on:
      - db
    restart: always


  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - internal_network
    volumes:
      - static_volume:/static
      - media_volume:/app/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app


  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - internal_network
    volumes:
      - pg_volume:/var/lib/postgresql/data 
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"

  db-adminer:
    image: adminer
    restart: always
    ports:
      - "5433:8080"



volumes:
  static_volume:
  media_volume:
  pg_volume:
  redis_volume:
