{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="our-gallery">
    <div class="container">
        <h6 class="main-subtitle">GALLERY</h6>
        <h5 class="main-title">Image Gallery</h5>
        <div class="row g-2 mt-4">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-1.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-1.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-2.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-2.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-3.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-3.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-4.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-4.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-5.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-5.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-6.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-6.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-7.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-7.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-8.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-8.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-16.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-16.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-6">
                <div class="img-box wow zoomIn" data-wow-delay="0.4s">
                    <img src="{% static 'assets/images/gallery/img-18.webp' %}" alt="">
                    <div class="overlay-box">
                        <ul class="options-box">
                            <li><a class="lightbox-image" title="Image Title Here" data-fancybox="gallery1"
                                    href="{% static 'assets/images/gallery/img-18.webp' %}"><span
                                        class="icon fa-solid fa-magnifying-glass"></span></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

{% endblock %}
