{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="news-detail">
    <div class="container">
        <div class="row gy-4 gx-1">
            <div class="col-lg-8">
                <div class="news-content">
                    <ul class="user-list">
                        <li><i class="bi bi-tag"></i><a href="#">TSPL League</a></li>
                        <li><i class="bi bi-person"></i><a href="#">By Admin</a></li>
                    </ul>
                    <h5 class="news-title">Indian Street Premier League (ISPL) 2025: Teams & Players Revealed
                    </h5>

                    <p class="news-text">Building on the remarkable success of its debut season in 2024, the Indian Street Premier League (ISPL) is now eagerly gearing up for its highly anticipated second edition. This T10 tennis-ball extravaganza will return in January 2025, promising fast-paced action and thrilling finishes.</p>

<h5 class="news-title">Player Auction Highlights</h5>
<p class="news-text">Held on December 11, 2024, the ISPL auction saw intense bidding as six franchises constructed their squads. Each team was allowed two player retentions, one icon player selection, and Right-to-Match (RTM) cards. Out of 350 players in the pool, 96 were picked, with Abhishek Dalhor commanding the highest bid of ₹20.50 lakh by Majhi Mumbai.</p>

<p class="news-text">Several players, including Saroj Paramanik (₹16.25 lakh) and Irfan Umair (₹16.50 lakh), attracted big bids as teams strategically strengthened their line-ups. Fierce competition ensured a mix of rising talents and experienced cricketers across franchises.</p>
</p>

<h5 class="news-title">Team Profiles and Top Buys</h5>
<h5 class="news-title">Bengaluru Strikers</h5>
<p class="news-text">The Strikers added depth with Saroj Paramanik (₹16.25 lakh) as their marquee player. Other notable additions include Krushna Pawar (₹10.50 lakh) and Sanjay Kanojjiya (₹10.10 lakh).</p>

<h5 class="news-title">Chennai Singams</h5>
<p class="news-text">The Singams built a formidable squad with key players like Ketan Mhatre (₹17.25 lakh) and Jagat Sarkar (₹15.40 lakh). Moreover, consistent all-rounders like Anurag Sarshar (₹9.60 lakh) significantly boost their strength while ensuring a balanced lineup, positioning the team for success.</p>

<h5 class="news-title">Falcon Risers Hyderabad</h5>
<p class="news-text">Falcon Risers made headlines with Irfan Umair (₹16.50 lakh) and Vicky Bhoir (₹12.50 lakh) anchoring their team. Players like Krishna Satpute (₹8.50 lakh) ensure versatility.</p>

<h5 class="news-title">Majhi Mumbai</h5>
<p class="news-text">Abhishek Dalhor’s record-breaking ₹20.50 lakh bid grabbed attention, with strong backup from Vijay Jaysing (₹13.75 lakh) and Yogesh Penkar (₹11.65 lakh).</p>

<h5 class="news-title">Srinagar ke Veer</h5>
<p class="news-text">Raju Mukhiya (₹8.50 lakh) and Prajyot Ambhire (₹6.75 lakh) headline this balanced team. Rising talents like Lokesh Lokesh (₹6.25 lakh) round out the squad.</p>

<h5 class="news-title">Tiigers of Kolkata</h5>
<p class="news-text">The Tiigers boast an impressive line-up led by Fardeen Kazi (₹15.90 lakh) and Prathamesh Thakare (₹11 lakh). Fardeen’s all-rounder skills make him a key player for their campaign.</p>
                                 
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-list">
                    <div class="row gy-4">
                        <div class="col-lg-12 col-md-6">
                            <div class="news-card-small">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/gallery/img-0.webp' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <!-- <p class="card-text">June 19, 2023</p> -->
                                        <h5 class="card-title">Tennis Ball Cricket</h5>
                                        <p class="read-link"><a href="{% url 'tennies_ball_cricket' %}">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="news-card-small">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/gallery/img-1.webp' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <!-- <p class="card-text">Nov 8, 2023</p> -->
                                        <h5 class="card-title">Who Can Register</h5>
                                        <p class="read-link"><a href="{% url 'who_can_register' %}">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="news-card-small">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/gallery/img-16.webp' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <!-- <p class="card-text">Sep 11, 2023</p> -->
                                        <h5 class="card-title">Own a TSPL Franchise Team</h5>
                                        <p class="read-link"><a href="{% url 'own_tspl_franchise' %}">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="news-card-small">
                                <div class="row align-items-center">
                                    <div class="col-4">
                                        <div class="img-box">
                                            <img src="{% static 'assets/images/gallery/img-18.webp' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <!-- <p class="card-text">Dec 1, 2023</p> -->
                                        <h5 class="card-title">TSPL-T10 AUCTIONS 2025</h5>
                                        <p class="read-link"><a href="{% url 'tspl_t10_action' %}">Read More</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}