{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="register-form">
    <div class="container">
        <h5 class="register-title">
            RULES</h5>
        <ul class="register-list">
            <li><b>Dates :</b> March 1 - 10, 2025</li>
            <li><b>Matches timing :</b> 8.30am to 5.30 pm .</li>
            <li><b>Team registration fees :</b> Rs. 15000/-</li>
            <li>Total 16 teams (on first come basis)</li>
            <li>Will be divided by 4 groups</li>
            <li>Each team will get at least 3 league matches to play</li>
            <li>The top 2 teams from each group will qualify to quater finals</li>
            <li>Central TCF Membership & Conference Registration is compulsory for all players (to be ensured by each </li>
            <li>captain). Registration will be offered in early bird category to players.</li>
            <li>Only Life members of TCF will be allowed to play.</li>
            <li>Maximum number of players in a team is 16, plus team physio ,manager & coach.</li>
        </ul>

        <h5 class="register-subtitle text-start">
            Last date for registration : 20th January 2025.</h5>
        <ul class="register-list">
           <li>Squad list to be submitted before 25th January 2025</li>
        </ul>

        <h5>To be submitted with the following details :-</h5>
       <ul class="register-list">
         <li>Full Name, Whatsapp Number, Email Address, TCF Membership Number .</li>
            <li>No change in the squad will be allowed unless in case of emergency (prior permission of the organizers).</li>
            <li>One player will be allowed to play in only one team. If any player is found to have played in more than one team, all the concerned teams will be disqualified.</li>
            <li>Reporting Time: 30 minutes before the match time.</li>
            <li>A minimum of 9 players should be present on the ground, otherwise the opposite team will be given a walk over.</li>
            <li>All matches will be played with 10 overs.</li>
            <li>Min 5 Bowlers must be used.</li>
       </ul>


        <h5 class="register-subtitle text-start">
            POWER PLAY</h5>
        <ul class="register-list">
            <li>10 over match : 1st 2 overs Power play</li>
            <li>2 players will be allowed to field outside the 30-yard circle</li>
            <li>LBW will not be considered for wicket. All other rules will be as per ICC rules.</li>
            <li>Extra runs (no ball, wide ball, leg bye, bye) as per ICC rules. Free hit on all NO BALLS.</li>
            <li>Runner not allowed.</li>
            <li>Chucking not allowed.</li>
            <li>Decision of Umpire & Organizing Committee will final (If required, decision can be reverted).</li>
            <li>In case of TIE Match, super over will be played (till there is a result).</li>
            <li>Maximum 3 Fielder substitutions can be done in every match.</li>
            <li>A team can announce their impact player after the toss. The team can decide to use them if needed before the 8th over of their second innings in league's and the 10th over in the finals. The player whom the impact player replaces should not have finished either his batting or bowling quota.</li>
            <li>A new Bullet heavy cricket tennis ball will be provided during each new innings.</li>
            <li>Registration for the tournament can be found in www.tspl-t10.com website.</li>
            <li>Protest - if any shall be lodged to the organizing committee in writing not later than 15 min after the end of the match accompanied by a fee of rs 1000/. If the protest is not upheld the fee of rs 1000 / shall be forfeited.</li>
                            <li>Awards for the man of the match, series, best bowler and best batsman.</li>
            <li>Refreshments will be provided.</li>
            <li>Walk over after 10 minutes of scheduled time.</li>
            <li>Ball bat and keeping gloves will be provided.</li>
            <li>Teams should report 30 minutes before the scheduled match time.</li>
            <li>Teams should dress in common jerseys ; Jerseys will be provided.</li>
        </ul>

        
        <div class="mt-4">
            <a href="{% url 'register_form' %}" class="fancy-button">Register</a>
        </div>
    </div>
</section>


{% endblock %}
