{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="terms-detail">
    <div class="container">
        <div>
            <h5 class="terms-title">Terms and Conditions:</h5>
            <ul>
                <ol class="terms-text"><strong>No Refunds:</strong> Payments are non-refundable for any reason.</ol>
                <ol class="terms-text"><strong>Scams:</strong> Only trust the official TSPL website; payments elsewhere
                    are at your risk.</ol>
                <ol class="terms-text"><strong>Attendance:</strong> Players must attend the trials; absence means no
                    refund.</ol>
                <ol class="terms-text"><strong>Performance:</strong> If not selected, the payment will not be refunded.
                </ol>
                <ol class="terms-text"><strong>Expenses:</strong> Fees cover trial costs (ground rent, staff, umpires,
                    etc.), so refunds are not possible.</ol>
            </ul>
            <h2 class="terms-title"><strong>Good luck with your trials! 🚀</strong></h2>
        </div>

</section>

{% endblock %}