{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="terms-detail">
    <div class="container">
        <h5 class="terms-title">Terms & Conditions</h5>
        <p class="terms-text">This document is an electronic record in terms of Information Technology Act, 2000 and
            rules made thereunder and as the
            same may be amended from time to time. Being a system generated electronic record, it does not require
            any physical or
            digital signature.</p>
        <p class="terms-text"> Greetings from Tamilnadu Street Premier League T10 (TSPL) (hereinafter
            referred to as the Website). The
            Website is owned by Tennisball Cricket Foundation TCF, having its registered address at ——————————.
            Tennisball Cricket
            Foundation is a pioneering sports management company committed to bringing innovative and inclusive
            sporting experiences
            to enthusiasts across the nation.</p>
        <p class="terms-text"> Tennisball Cricket Foundation TCF has conceptualized as well as is the owner (League
            Owner) of a mens T-10 tennis ball
            cricket league under the name and style of TSPL T10 (TSPL League) or such other name and style as may
            be adopted from
            time to time at League Owners sole discretion.</p>

        <p class="terms-text"> The TSPL League is a pioneering Tennis Cricket League with a primary mission to
            discover, nurture, and elevate
            cricketers from grassroots levels. It endeavors to unite the finest local cricket talent in India,
            creating a
            comprehensive platform for players to showcase their skills. The league aspires to transcend boundaries
            and establish
            itself as an international platform, fostering the growth of future cricketing superstars while adding
            structure to the
            cricket scene in cities.</p>


        <p class="terms-text"> TSPL is committed to bridging the gap between street cricket and stadium glory,
            aiming to bring the raw energy and
            talent of street cricket onto the grand stage. The player selection process involves handpicking players
            from each state
            across India, ensuring representation from every corner of the nation and thereby enhancing the value
            for stakeholders
            involved.</p>


        <p class="terms-text"> The TSPL League shall consist of a total of 10 playing seasons and season 1 of the
            TSPL League will comprise of 6
            teams who shall participate in the TSPL League to be played in India. The said 6 teams shall consist of
            players who
            shall be shortlisted as per Clause 1 of these Terms.</p>


        <p class="terms-text"> By accessing the Website from any computer, computer device, mobile, smartphone or
            any electronic device, you expressly
            agree to be bound by these Terms and Conditions (hereinafter referred to as the Terms ).</p>



        <p class="terms-text"> If you use or access the Website, you are required to first carefully read as well as
            fully understand these Terms which
            are applicable when you view/access/use the Website. Please also carefully read and fully understand our
            Privacy Policy
            available at the link <a
                href="https://TSPL-t10.com/privacy-policy">https://TSPL-t10.com/privacy-policy</a> (hereinafter
            referred to as the Privacy
            Policy ), which is
            incorporated in these Terms by reference.</p>



        <p class="terms-text"> If, for any reason, you do not agree to these Terms, Privacy Policy and/or other
            Website guidelines and policies
            (guidelines and policies hereinafter collectively referred to as Other Policies ) as communicated to you
            when you access
            the Website or do not wish to be bound by them, please do not use the Website in any way whatsoever. By
            using or
            accessing the Website, you have expressly indicated to us that you have read, acknowledged and
            understood as well as
            fully agreed, to be bound by these Terms, Privacy Policy and all Other Policies, irrespective whether
            you register with
            the Website or create a Website account or not.</p>



        <h6 class="terms-subtitle">Website Purpose :</h6>



        <p class="terms-text"> The Website is mainly for players who want to enroll themselves and participate in
            the TSPL League. Any interested
            player can enroll with the TSPL League by filling the form available at the link
            <a href="https://TSPL-t10.com/privacy-policy">https://TSPL-t10.com/privacy-policy</a>
            and providing with all the requested details in the said form.
        </p>


        <p class="terms-text">Each interested player is required to submit the said enrollment form by paying an
            enrollment fee of Rs. 999/- +
            applicable GST. Under no circumstances will the said fee be refundable and/or transferable for any
            reason whatsoever.
            Each interested player is required to provide all the details as requested in the enrollment form. The
            League Owner
            shall have the right and discretion to reject any incomplete forms without requiring to provide any
            reason or refund of
            fee whatsoever.</p>


        <p class="terms-text">Once all the details are filled in and the enrollment form is submitted to the
            Website, a player profile is generated by
            the Website for TSPL Leagues selection committee to shortlist the players.
            Once the TSPL Leagues selection committee selects the players, the shortlisted players will be notified
            by the League
            Owner with all other relevant details pertaining to the TSPL League. The shortlisted players will also
            be required to
            travel to mentioned cities for city trials and all travel, lodging, boarding and related costs shall be
            borne by such
            shortlisted players.</p>


        <h6 class="terms-subtitle">The player registration and selection details are as under:</h6>

        <p class="terms-text">Registration closing date: January 20, 2025.</p>


        <p class="terms-text"> TSPL Leagues selection committee to shortlist players and invite shortlisted players
            for city trials.
            Physical trials shall be conducted in the specified cities on specified days.
            Shortlisted players shall be called in Dindugal for city trials on February 20 & 21, 2024.
            An auction shall be conducted of shortlisted players from a pool of 256 players
            A total of 96 players shall be selected in player auction to be held in March 2025.
            It is expressly stated that the League Owner reserves its right to cancel or amend the at any stage in
            any manner and/or
            to cancel or abandon the TSPL League for any reason whatsoever at its sole discretion.</p>

        <h6 class="terms-subtitle">Acceptance of Terms, etc :</h6>

        <p class="terms-text"> These Terms is in the form of an electronic and legally binding contract that
            establishes the terms and conditions you
            have accepted before using the Website or any part thereof. These include our Privacy Policy and Other
            Policies as
            mentioned in these Terms as well as other specific policies and terms and conditions disclosed to you,
            in case you avail
            any subscription or any additional features, products or services we offer on or through the Website,
            whether free or
            otherwise, including but not limited to terms governing features, billing, subscriptions, free trials,
            promotions and
            discounts. By using the Website, you hereby unconditionally consent and accept to these Terms, Privacy
            Policy and Other
            Policies. To withdraw such consent, you must immediately cease using the Website and terminate your
            account with us. You
            are requested to keep a physical copy of these Terms and all other referred policies herein for your
            records.
            You consent to have these Terms and all notices provided to you in electronic form.</p>

        <p class="terms-text"> Every time you use the Website, you confirm your agreement with these Terms, Privacy
            Policy and Other Policies.</p>

        <h6 class="terms-subtitle">Eligibility :</h6>

        <p class="terms-text"> The minimum age to use the Website is 18 (eighteen) years. By using the Website and
            in order to be competent to contract
            under applicable law, you represent and warrant that you are at least 18 (eighteen) years of age or not
            a minor in any
            other jurisdiction from where you access the Website.
            By using the Website, you hereby represent and warrant to us that you have all right, authority and
            capacity to enter
            into these Terms and to abide by all of the terms and conditions thereof.</p>


        <h6 class="terms-subtitle">Website Account :</h6>

        <p class="terms-text"> In order to use the Website, you may be asked to create a specific login and
            password. We may also allow you the option
            of signing in using your Email, Facebook, Instagram or other social media login. If you do so, you
            authorize us to
            access and use certain account information of yours from such login, including but not limited to your
            public profile
            and information about your contacts you might share in common with other Website users, your interests
            and dislikes. For
            more information regarding the type/nature of information we collect from you and how we use it, please
            refer our
            Privacy Policy available at the <a
                href="https://TSPL-t10.com/privacy-policy">https://TSPL-t10.com/privacy-policy</a>
            Your account login details you provide to us must always be kept private and confidential and should not
            be disclosed to
            or permitted to be used by anyone else and you are solely responsible and liable for any and all usage
            and activity on
            the Website that takes place under your account.</p>


        <p class="terms-text"> By agreeing to these Terms, you grant us the permission to send electronic
            communications to you as part of our
            offering. This includes but is not limited to sending emails, newsletters, notifications and promotional
            offers from us
            and our partners. Should you no longer wish to receive such electronic communications, you may write to
            us at
            support@TSPL-t10.com
            Any account you open with us is personal to you and you are prohibited from gifting, lending,
            transferring or otherwise
            permitting any other person or entity to access or use your account in any way whatsoever.</p>


        <h6 class="terms-subtitle">Term and Termination :</h6>

        <p class="terms-text">These Terms will remain in full force and effect while you use the Website or any part
            thereof, as a registered user.
            You may terminate or disable your Website account at any time and for any reason by deleting your
            profile and Website
            account.</p>

        <p class="terms-text">We may terminate or suspend, whether temporarily or permanently, your Website account
            at any time without notice and for
            any reason. Further, at our sole discretion, we may terminate or suspend, whether temporarily or
            permanently, your
            Website account at any time without notice if we reasonably believe that you have breached these Terms,
            or for any other
            reason, with or without cause. After your Website account is terminated or suspended, all the terms
            hereof shall survive
            such termination or suspension, and continue in full force and effect, except for any terms that by
            their nature expire
            or are fully satisfied.</p>

        <p class="terms-text">You acknowledge that we reserve the right to terminate or delete your account in case
            it remains 'inactive' for a
            duration as determined by us in our sole discretion. If we terminate or suspend your account because you
            have breached
            these Terms or Other Policies, you will not be entitled to any refund of any unused subscription fees or
            refund of any
            fees towards any in-Website purchases.</p>

        <p class="terms-text">Following termination of these Terms, we will only retain and use your content in
            accordance with these Terms.</p>


        <h6 class="terms-subtitle">Website Usage :</h6>

        <p class="terms-text">The Website is strictly available for your personal use only.</p>

        <p class="terms-text">You are hereby strictly prohibited from and against:
            undertaking any marketing, promotion, advertising or soliciting any other Website user to buy or sell
            any products or
            services whether through the Website or not;
            transmitting any chain letters, junk, bulk or spam e-mail or other unsolicited communications of any
            kind whatsoever to
            other Website users or publishing the same on the Website or anywhere else; and
            defaming, stalking, harassing, abusing or contacting any Website user with a malicious intent or using
            the details of
            any Website user for any purpose not expressly permitted under these Terms.</p>

        <p class="terms-text">It is hereby expressly clarified that any of the aforesaid acts undertaken by you
            shall be to your sole liability,
            responsibility, risk and consequences and you hereby agree to indemnify us for the same.</p>

        <h6 class="terms-subtitle">Account Security :</h6>

        <p class="terms-text">You shall be solely responsible and liable for maintaining the utmost privacy and
            confidentiality of your Website log-in
            (username and password) details as well as for any and all activities that occur under your log-in. You
            agree to
            immediately notify us of any disclosure or unauthorized use of your log-in or any other breach of
            security at
            support@TSPL-t10.com and ensure that you log-out from your account at the end of each session.</p>

        <h6 class="terms-subtitle">Proprietary Rights :</h6>

        <p class="terms-text">All content on this Website, including images, illustrations, audio and video clips,
            are protected by copyrights,
            trademarks, and other intellectual property rights that are owned and controlled by us or by our
            licensors.
            You confirm and agree that we are the owner of the proprietary information made available to you through
            the Website and
            hereby retain all proprietary and intellectual property rights in the same, including but not limited to
            all
            confidential information.</p>




        <p class="terms-text">You undertake not to copy, modify, transmit, disclose, show in public, create any
            derivative works from, distribute,
            make commercial use of, or reproduce in any way, and whether partly or fully, any (i) confidential or
            proprietary
            information, or (ii) intellectual property, including copyrights, trademarks, service marks or other
            proprietary
            information accessible via the Website without first obtaining our prior written consent. Any of the
            foregoing acts
            undertaken by you without our express permission constitutes breach of these Terms as well as breach of
            infringement of
            ours/our licensors intellectual and other proprietary rights.</p>


        <p class="terms-text">Other Website users may upload/publish/post any copyrighted information, which may
            have copyright protection or not or
            which may be identified as copyright. You undertake not to copy, modify, publish, transmit, distribute,
            perform,
            display, commercially use/exploit, sell or use such information in any way and for any purpose
            whatsoever.</p>

        <p class="terms-text">By posting information or content to any profile pages or public area of the Website,
            or making it accessible to us by
            linking your account to any social network accounts (e.g. via Facebook, Twitter, Instagram etc.), you
            grant us
            unconditionally and in perpetuity, and represent and warrant that you have the right to grant to us, an
            irrevocable,
            perpetual, non-exclusive, fully-paid/royalty-free, worldwide license to use, reproduce, publicly
            perform, publicly
            display and distribute such information and content, and to prepare derivative works of, or incorporate
            into other
            works, such information and content, and to grant and authorize sub-licenses of the foregoing anywhere
            in the world.
            From time to time, we may modify, add or vary existing features or programs of the Website or create,
            add, test or
            implement new features or programs on the Website in which you may voluntarily choose to participate or
            may be a part of
            a test group with special access, in accordance with the additional terms and conditions of such
            features or programs.
            By participating in such features or programs, you grant us an unconditional and perpetual right and
            consent to the
            terms and conditions (if any) of such features or programs which will be in addition to these Terms.</p>



        <h6 class="terms-subtitle">User Information :</h6>

        <p class="terms-text">For information about the collection and possible use of information and content
            provided by you, please review our
            Privacy Policy available at the link <a
                href="https://TSPL-t10.com/privacy-policy">https://TSPL-t10.com/privacy-policy</a>
            Notwithstanding any other provisions of these Terms, we reserve the right to disclose any information
            that you submit to
            us, if in our sole opinion, we reasonably believe that such disclosure is required to be disclosed (i)
            for complying
            with applicable laws, requests or orders from law enforcement agencies, appropriate authorities (such as
            without
            limitation, court officials, expert professional investigative agencies and the like) or for any legal
            process; (ii) for
            enforcing these Terms; (iii) for protecting or defending ours, any Website user or any third party's
            rights or property;
            or (iv) for supporting any fraud/ legal investigation/ verification checks. You acknowledge and
            understand the
            provisions of this Clause and grant us an unconditional, perpetual right and permission to make such
            disclosure.
            By using the Website, you hereby permit us to use the information you provide us, including your
            experiences to
            facilitate us to improve the Website and its functionality as well as for promotional purposes,
            including the permission
            to publish your non-personal information in any of our partner websites.</p>


        <h6 class="terms-subtitle">Prohibited Activities :</h6>

        <p class="terms-text">We reserve the right to investigate, suspend and/or terminate, whether temporarily or
            permanently, your Website account
            with us if you undertake any of the following acts:</p>


        <p class="terms-text">breach these Terms, Privacy Policy or Other Policies;
            abuse, impersonate or defame us or any Website user or any other person, entity or any religious
            community;
            use the Website for any commercial use or activity, including for any unlawful activity, not expressly
            permitted as per
            aforesaid Clause 5 of these Terms;
            make any statements, whether expressed or implied, and whether privately or publicly, as those endorsed
            by us without
            our specific prior written consent;
            use the Website in an illegal manner or commit an illegal or unlawful act or use the Website in any
            manner not expressly
            authorized by us;
            access the Website from a jurisdiction in which it is illegal or unauthorized or barred;
            undertake, ask, solicit or use Website users to conceal the identity, source, or destination of any
            illegally gained
            money, services or products;
            use any robot, spider, tool, site search/retrieval application, or other manual or automatic device or
            process to
            retrieve, index, data mine, or in any way reproduce or circumvent the navigational structure or
            presentation of the
            Website;
            collect any personal information, including contact details, of any Website users by forcing any Website
            user by
            electronic or any other means and for any purpose, not expressly permitted under these Terms;
            send any unsolicited email or any other communication to any Website user in any way whatsoever not
            expressly permitted
            under these Terms;
            undertake any unauthorized framing of or linking to the Website or frame or mirror any part of the
            Website, without our
            prior written authorization;
            interfere with, obstruct, destroy or disrupt the Website or the servers or networks connected to the
            Website, whether
            partly or fully and whether permanently or temporarily;
            email or otherwise transmit any content or material that contains software viruses, malware, spyware or
            any other
            computer code, files or programs designed to interrupt, destroy, disrupt or limit the functionality of
            the Website or of
            any computer software or hardware or telecommunications equipment connected with the Website;
            forge headers or otherwise manipulate identifiers in order to disguise the origin of any information
            transmitted to or
            through the Website (either directly or indirectly through use of any third party software);
            use meta tags, code, programs or other devices, tools or technology containing any reference to us or
            the Website (or
            any trademark, trade name, service mark, logo or slogan of ours) to direct any person to any other
            Website or
            application for any purpose;
            directly or indirectly modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile
            or otherwise
            disassemble any portion of the Website; or
            post, use, transmit or distribute, directly or indirectly, in any manner or media any content (whether
            textual,
            graphical, images, audio, video, audio-video or any combination thereof) or information obtained from
            the Website other
            than solely in connection with your use of the Website in accordance with these Terms.</p>


        <h6 class="terms-subtitle">Content Posted By You :</h6>

        <p class="terms-text">You are solely responsible for any and all content or information that you post,
            upload, share, publish, link to,
            transmit, record, display or otherwise make available (hereinafter collectively referred to as publish )
            on the Website
            or transmit to other Website users, including text messages, chat, audio, video, photographs, images,
            graphics or any
            combination thereof, whether publicly published or privately transmitted (hereinafter collectively
            referred to as
            Content ).
            We do not verify or validate the completeness, accuracy or truth of any Content you publish on or
            through the Website.
            We are not the publisher of the Content and only provide you with a technology platform to facilitate
            you to publish
            such Content. We assume no responsibility or liability of any sort whatsoever for providing a technology
            platform to our
            Website users to facilitate them to publish their Content. To protect the integrity of the Website, we
            reserve the right
            to exercise editorial control over your Content, including the right to block any Website user from
            accessing the
            Website, whether temporarily or permanently.</p>


        <p class="terms-text">You shall not publish to us or to any other Website user (either on or off the
            Website), any offensive, inaccurate,
            incomplete, inappropriate, abusive, obscene, profane, threatening, intimidating, harassing, racially
            offensive, or
            illegal material or content that infringes or violates ours or any persons rights (including
            intellectual property
            rights, and rights of privacy and publicity).</p>

        <p class="terms-text">You represent and warrant that (i) all information and Content that you submit upon
            creation of your Website account,
            including information submitted from any permissible linked third party account, is accurate, complete
            and truthful and
            that you will promptly update any information provided by you that subsequently becomes inaccurate,
            incomplete,
            misleading or false and (ii) you have the right to publish the Content on the Website and grant the
            licenses as agreed
            in these Terms.
            You understand and agree that we have the right but not the obligation to monitor or review any Content
            you publish on
            the Website. We may delete any Content, in whole or in part, that in our sole judgment violates these
            Terms or may harm
            the reputation of the Website or ours or other Website users.</p>

        <p class="terms-text">By publishing Content on the Website, you automatically grant us and to our
            affiliates, licensees, successors and
            assigns, an irrevocable, perpetual, non-exclusive, transferable, sub-licensable, fully
            paid-up/royalty-free, worldwide
            right and license to (i) use, copy, store, perform, display, reproduce, record, play, adapt, modify and
            distribute the
            Content, (ii) prepare derivative works of the Content or incorporate the Content into other works, and
            (iii) grant and
            authorize sublicenses of the foregoing in any media now known or hereafter created. You represent and
            warrant that any
            publishing and use of your Content by us will not infringe or violate the rights of any third party.</p>

        <h6 class="terms-subtitle">You shall not publish or otherwise make available Content that:</h6>

        <p class="terms-text">advocates harassment or intimidation of another person;
            is offensive, false, misleading, untrue, unlawful, illegal, defamatory, harassing, disparaging, obscene,
            sexually
            explicit, blasphemous, scandalous, libelous, threatening, abusive, hateful, harmful, bigoted, racially
            offensive,
            invasive of privacy right of any person, or otherwise objectionable or inappropriate;
            belongs to another person and to which you are already aware that the same does not belong to you or
            that you do not
            have any right to the same;
            directly or indirectly deals with child pornography;
            is an illegal or unauthorized copy of another persons copyrighted work;
            infringes upon or violates any third party's right to privacy, including any intellectual property
            rights;
            is not expressly permitted under these Terms; or
            violates any applicable law for the time being in force.</p>

        <p class="terms-text">We reserve the right, in our sole discretion, to investigate and take any legal action
            against anyone who violates this
            Clause, including deleting or removing the offending Content from the Website and/or terminating or
            suspending the
            Website account of such violating user. Whilst we reserve our right to delete or remove such Content, we
            do not
            guarantee that such offensive Content will be removed or deleted. Failure by us to remove or delete such
            Content does
            not waive our right to remove or delete the same in subsequent or similar cases.</p>

        <p class="terms-text">We assume no responsibility or liability for any deletion of or failure to store any
            of your Content.</p>

        <h6 class="terms-subtitle">Payments and Cancellations/Refunds :</h6>

        <p class="terms-text">We accept payments through third party service providers from various modes as
            available on the Website. We reserve the
            right to amend any of these modes at our sole discretion. We will begin processing your enrolment form
            only upon
            verification that your payment has been received by us.</p>

        <p class="terms-text">Under no circumstances will the enrolment fee be refundable and/or transferable for
            any reason whatsoever. Further, we
            are unable to accept any cancellations once the enrolment form is submitted to us.</p>

        <h6 class="terms-subtitle">Copyright Notice :</h6>

        <p class="terms-text">If you are aware that yours or any third partys copyright has been infringed, then you
            can write to us at
            support@TSPL-t10.com by providing with the following details:</p>

        <p class="terms-text">your contact name, address and email;
            description of the violation / infringement of the copyright;
            ownership details of the owner of the original copyrighted work;
            creation date of the original copyrighted work;
            first publication date of the original copyrighted work;
            date of copyright registration (if applicable); and
            your relationship with the original copyrighted work.
            Upon receipt of all the aforesaid information, we may request you to provide us with additional
            information, if
            required, and accordingly we will proceed further with the verification accordingly.</p>

        <h6 class="terms-subtitle">Modifications to the Website :</h6>

        <p class="terms-text">We reserve the right at any time to modify or discontinue, temporarily or permanently,
            the Website (or any part thereof)
            with or without notice. You agree that we shall not be liable to you or to any third party for any
            modification,
            suspension or discontinuance of the Website. Any access or usage by you of the Website shall imply that
            you have
            accepted any new or modified Terms. Please re-visit these Terms from time to time to stay abreast of any
            changes that we
            may introduce.</p>

        <h6 class="terms-subtitle">Disclaimer of Warranty :</h6>

        <p class="terms-text">We reserve the right at any time to modify or discontinue, temporarily or permanently,
            the Website (or any part thereof)
            with or without notice. You agree that we shall not be liable to you or to any third party for any
            modification,
            suspension or discontinuance of the Website. Any access or usage by you of the Website shall imply that
            you have
            accepted any new or modified Terms. Please re-visit these Terms from time to time to stay abreast of any
            changes that we
            may introduce.</p>

        <p class="terms-text">To the maximum extent permitted by applicable law, we have provided the Website on an
            "AS IS" and "AS AVAILABLE" and
            BEST EFFORTS basis and grant no warranties of any kind, whether express, implied, direct, indirect
            statutory or
            otherwise with respect to the Website or any part thereof (including all content contained therein),
            including any
            implied warranties of correctness, validity, accuracy, completeness, appropriateness, fitness,
            merchantability or
            compatibility for a particular purpose or outcome or non-infringement. We do not warrant that the use of
            the Website
            will always be secured, uninterrupted, available, error-free or will meet your requirements or
            expectations, or that any
            defects in the Website will be corrected or result in the desired results. We disclaim liability for,
            and no warranty is
            made with respect to, the connectivity and availability of the Website at all times and the results of
            the use of the
            Website.</p>

        <p class="terms-text">Opinions, advice, statements, offers, or other information or content made available
            through the Website, but not
            directly by us, are those of their respective authors, and should not necessarily be relied upon. Such
            authors are
            solely responsible for such Content. We do not (i) guarantee the accuracy, completeness or usefulness of
            any information
            provided on the Website, or (ii) adopt, endorse or accept responsibility for the accuracy or reliability
            of any opinion,
            advice, or statement made by any party other than us.</p>

        <p class="terms-text">rom time to time, we may offer new features or tools which our Website users may
            experiment or experience. Such features
            or tools are offered solely for experimental purposes and without any warranty of any kind, and may be
            modified or
            discontinued at our sole discretion. The provisions of this Disclaimer of Warranty section shall apply
            with full force
            to such features and tools.</p>


        <p class="terms-text">We accept no responsibility for any damage, loss, liabilities, injury or
            disappointment incurred or suffered by you as a
            result of the Website.</p>

        <h6 class="terms-subtitle">Limitation of Liability :</h6>


        <p class="terms-text">To the maximum extent permitted by applicable law, in no event will we be liable for
            any indirect, incidental, special,
            consequential, liquidated and/or punitive damages arising out of or relating to the use or inability to
            use the Website,
            result of using the Website including, without limitation, damages for recommendation of the Website,
            loss or corruption
            of data or programs, service interruptions and procurement of substitute services, even if we know or
            have been advised
            of the possibility of such damages. To the maximum extent permitted by applicable law, under no
            circumstances will we be
            liable for any liquidated or punitive damages.</p>

        <h6 class="terms-subtitle">Indemnification :</h6>

        <p class="terms-text">You agree to indemnify, defend and hold us harmless, as well as our partner websites
            and affiliates, from and against
            any and all losses, claims, costs, liabilities and expenses (including reasonable attorneys fees)
            relating to or arising
            out of your use of the Website, including but not limited to (i) any violation by you of these Terms, or
            (ii) any action
            arising from the Content that you publish on the Website or using the Website that infringes any
            proprietary or
            intellectual property rights (e.g. copyright, trade secrets, trademark or patent) of ours or of any
            third party, or
            (iii) any Content that is in breach of Clause 11.7 above. We reserve the right, at our own cost, to
            assume the exclusive
            defense and control of any matter otherwise subject to indemnification by you, and you will co-operate
            fully in
            asserting any available defenses in such case.</p>

        <h6 class="terms-subtitle">Indemnification :</h6>

        <p class="terms-text">You agree to indemnify, defend and hold us harmless, as well as our partner websites
            and affiliates, from
            and against
            any and all losses, claims, costs, liabilities and expenses (including reasonable attorneys fees)
            relating to or arising
            out of your use of the Website, including but not limited to (i) any violation by you of these Terms, or
            (ii) any action
            arising from the Content that you publish on the Website or using the Website that infringes any
            proprietary or
            intellectual property rights (e.g. copyright, trade secrets, trademark or patent) of ours or of any
            third party, or
            (iii) any Content that is in breach of Clause 11.7 above. We reserve the right, at our own cost, to
            assume the exclusive
            defense and control of any matter otherwise subject to indemnification by you, and you will co-operate
            fully in
            asserting any available defenses in such case.</p>

        <h6 class="terms-subtitle">Miscellaneous :</h6>

        <p class="terms-text">Entire Agreement: These Terms constitutes the entire agreement between you and us
            regarding the subject matter hereof,
            and replaces and supersedes any and all prior agreements/ understandings/ correspondences, whether
            written or oral,
            between you and us.</p>


        <p class="terms-text">Amendment: We reserve the right to amend these Terms from time to time. Any such
            amendments will be applicable to all
            persons viewing/accessing/using the Website once the revisions have been posted onto the same. You
            should therefore
            check the Website from time to time to review the current Terms as applicable to you.</p>


        <p class="terms-text">Survival: Termination or suspension of your Website account shall not affect those
            provisions hereof that by their
            nature are intended to survive such termination or suspension.</p>


        <p class="terms-text">Governing Law and Jurisdiction: These Terms shall be governed and construed in
            accordance with the laws of India in
            relation to any legal action or proceedings to enforce the same. You irrevocably submit to the exclusive
            jurisdiction of
            any competent courts situated at Mumbai, India and waive any objection to such proceedings on grounds of
            venue or on the
            grounds that the proceedings have been brought in an inconvenient forum.</p>

        <p class="terms-text">No Assignment: These Terms are personal to you. You cannot assign your rights or
            obligations, whether partly or fully,
            to anyone.</p>

        <p class="terms-text">Severability: If any provisions of these Terms are held invalid or unenforceable under
            applicable law, such provision
            will be inapplicable, but the remainder will continue in full force and effect.</p>


        <p class="terms-text">Waiver: No waiver of any term, provision or condition of these Terms whether by
            conduct or otherwise in any one or more
            instances shall be deemed to be or construed as a further or continuing waiver of any such term,
            provision or condition
            or of any other term, provision or condition of these Terms.</p>

        <h6 class="terms-subtitle">Grievance Officer :</h6>

        <p class="terms-text">In accordance with Information Technology Act, 2000 and rules made there under, the
            name and contact details of the
            Grievance Officer are provided below:</p>

        <p class="terms-text"><b>Name:</b> Divya</p>
        <p class="terms-text"><b>Email:</b> support@TSPL-t10.com</p>
        <p class="terms-text"><b>Contact Us :</b>
            Please contact us by email on support@TSPL-t10.com for any questions or comments regarding these Terms
            or pertaining to
            the Website.</p>
    </div>
</section>

{% endblock %}