{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="our-gallery">
    <div class="container">
        <h6 class="main-subtitle">GALLERY</h6>
        <h5 class="main-title">Video Gallery</h5>
        <div class="row g-2 mt-4">
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/CrDx9cmG25U"
                    title="0 IQ Moments in Cricket" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/a1sq1ui0UEU" title="Top Class Catches"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/XSqWzUquThY"
                    title="1 in a Trillion Moments in Cricket" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/F0_aypvtW8Y"
                    title="The Best Yorkers of the 2019 CWC! | Unplayable Deliveries | ICC Cricket World Cup 2019"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/wq2mxM5WUbY"
                    title="Best of the 2022-23 Tests: Every Mitch Starc wicket | KFC Top Aussie Deliveries"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/Z63EngdPgzk"
                    title="Top 10 Bumrah’s Killer Yorkers 🔥" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/HuDP2nC2Eys"
                    title="INDIA Vs AUSTRALIA HEAT MOMENTS." frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/nclPaVQmCHc"
                    title="Lasith Malinga&#39;s four-ball 4-wicket hat-trick" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}