{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="our-gallery">
    <div class="container">
        <h6 class="main-subtitle">GALLERY</h6>
        <h5 class="main-title">Video Gallery</h5>
        <div class="row g-2 mt-4">
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/ssQWzgvxzw0?si=na9JFZvlB5XCzPaC"
                    title="TSPL Selection" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/OYoqb1iJfWw?si=uEd-i8I4MWoqsYxF" title="Top Class Catches"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/EXFlfUAqZRk?si=0X0sMuxf6sP6_H3v"
                    title="TSPL Selection" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/SGY7ER7WUt0?si=UzxE3rnVxm_OU4Ix"
                    title="TSPL Selection Day 2" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/jnh1etHJZX4?si=NKEO5Fwd7B8vR99M"
                    title="TSPL MATCH HIGHLIGHTS" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/ob6sBQbui9E?si=H5CFjdQcokcyXRmr"
                    title="TSPL" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/EmXajN02isU?si=Vmnm2S7cNMWJAXtc"
                    title="Power Play Premier League" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <iframe class="video-box" src="https://www.youtube.com/embed/OYoqb1iJfWw?si=L4rw-YUXmHnvP46j"
                    title="TSPL Zone 2" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}