<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service App Control</title>
</head>
<body>
    
    <h2>Welcome {{user.username}},</h2>

    <ul>
        <li><a href="{% url 'con_upload' %}">Data Upload</a></li>
        <li><a href="{% url 'con_trigger_mail' %}">Trigger Mail</a></li>
        <li><a href="{% url 'con_updatePoints' %}">Update Points</a></li>
        <li><a href="{% url 'con_send_remaining_payment_mail' %}">Payment Mail Remainder</a></li>
        <li><a href="{% url 'con_send_selection_status_mail' %}">Send Selection Email</a></li>
    </ul>
</body>
</html>